*{
  box-sizing: border-box;
}

img{
  width: 250px; 
}
body{
  background-color: rgb(13, 37, 47);
  color: goldenrod; 
  align-content: center;
  text-align: center;
  border: 14px solid rgb(202, 94, 6);
}

.banner{
  width: 100%; 
  height: 100vh;
  text-align: center; 
  overflow: hidden;  
  position: relative; 
}

.banner .slider{
  position: absolute; 
  width: 200px;
  height: 250px; 
  top: 10%; 
  left: calc(50% - 100px); 
  transform-style: preserve-3d;
  transform: perspective (1000px); 
  animation: autoRun 60s linear infinite; 
}
@keyframes autoRun{
  from{
    transform: perspective(1000px) rotateY(0deg); 
  }
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.banner .slider .item img{
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.banner .slider .item{ 
  position: absolute; 
  inset: 0; 
  transform: rotateY(calc((var(--position))*(360 / var(--quantity))*1deg)) translateZ(550px);
}

.centerItem{
  
}